@import '../helpers/extends.scss';
@import '~normalize.css';

body{
    height: 100vh;
    background-color: #eee;
}

h1{
    text-transform: uppercase;
    text-align: center;
    color:red;
    margin-top: 400px;
}